<div class="grid top-bar-nogutter">
  <header class="top-bar col-12 lg:col-12 md:col-12">
    <div class="col-offset-1 col-10 md:col-10 lg:col-10">
      <a class="revenueLogo" title="Home" href="http://www.revenue.ie">
        <img alt="revenue-Logo"
          src="assets/images/revenue-Logo.png">
      </a>
      <a class="pmodHome" href="https://revenue-ie.github.io/paye-employers-documentation">
        <h3>PAYE Modernisation</h3>
      </a>
    </div>
  </header>
</div>
<div class="grid">
  <main class="main col-offset-1 col-md-10 offset-md-1 col-lg-10 ">
    <div class="col-11 col-md-11 col-lg-11 pmodContent">
      <h1>PAYE Modernisation Web Services - FAQ </h1>
      <p>The purpose of this PAYE Modernisation Web Services - FAQ is to help to answer and resolve common questions and
        queries raised by users of the PIT (Public Interface Testing Environmnets). This FAQ page should be used in
        conjunction with PAYE Modernisation Web Services documentation provided by Revenue. </p>
      <p>This documentation is available
        at the following link, <a href="https://revenue-ie.github.io/paye-employers-documentation/"> PAYE Modernisation
          Web
          Services</a>.
      </p>
    </div>
    <nav>
      <a [routerLinkActive]="['activeLink']" routerLink="tdm-tab">TDM / Employers Certifcate FAQ</a>
      <a [routerLinkActive]="['activeLink']" routerLink="soap-rest-tab">Soap / Rest Webservices</a>
      <a [routerLinkActive]="['activeLink']" routerLink="errors-faq">Common Errors</a>
      <a [routerLinkActive]="['activeLink']" routerLink="reporting-issues">Reporting Issues</a>
    </nav>
    <router-outlet></router-outlet>

  </main>
</div>