/* You can add global styles to this file, and also import other style files */
$darkGrey: #333;
$baseCyan: #00c6c6;
$brandTeal: #005a5c;
$baseBlue: #006fe6;
$backgroundGrey: #e9ecef;

// ----- Splash Screen start ------
.an-button-action {
    color: #222222;
    background: #eee;
    border: 1px solid #eee;
}

.ui-growl {
    top: 415px;
    right: 20px;
    width: 80em;
    z-index: 999;
}

.splash-logo {
    left: 50%;
    top: 50%;
    margin-left: -26px;
    margin-top: -30px;
    z-index: 2;
    position: absolute;
    width: 54px;
}

.splash-loader,
.splash-loader::before,
.splash-loader::after {
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    position: absolute;
    vertical-align: middle;
    background: #014e4e;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: 1;
}

.splash-loader::before {
    content: "";
    animation: bounce 1.5s infinite;
}

.splash-loader::after {
    content: "";
    animation: bounce 1.5s -0.4s infinite;
}

@keyframes bounce {
    0% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

.splash-screen {
    background-color: #f3f3f3;
    height: 100%;
}

// ----- Splash Screen end ------


body {
    margin: 0;
    font-family: "Fira Sans", Verdana, sans-serif;
    font-size: 1rem;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
    color: $darkGrey;

    a {
        color: $baseBlue !important;
    }

    p {
        margin-block-end: 1rem !important;
        margin-inline-end: 1rem !important;
    }

    .top-bar {
        background-color: $brandTeal;
        // height: 8.1rem;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0;
        border-bottom: 14px solid $baseCyan;

        .revenueLogo img {
            margin: 0.625rem;
            float: left;
            height: 6.0625rem;
            width: 12.125rem;
        }

        .pmodHome h3 {
            padding-top: 2.2rem !important;
            padding-left: 2.5rem !important;
            color: #fff;
        }
    }

    .main {
        padding: 0.5rem;

        .tabContent {
            padding-top: 0;
        }

        nav {
            padding-top: 1.875rem;
            margin-bottom: 0.6rem;
            margin-left: .5rem;

            a {
                color: $darkGrey !important;
                margin-bottom: 1.0rem;
                margin-right: 1rem;
                border-top: 0.1rem solid $backgroundGrey;
                border-right: 0.1rem solid $backgroundGrey;
                border-left: 0.1rem solid $backgroundGrey;
                border-radius: 0.25rem;
                padding: 0.5rem;
                text-decoration: none;
            }

            a:active {
                border-top: solid .0625rem $backgroundGrey !important;
                border-right: solid .0625rem $backgroundGrey !important;
                border-left: solid .0625rem $backgroundGrey !important;
                padding-right: .5rem;
                padding-left: .5rem;
                padding-top: .5rem;
                border-radius: .125rem;
                background-color: $backgroundGrey;
            }

            a:visited {
                background-color: $backgroundGrey;
            }
        }

        .p-accordion .p-accordion-tab-active>.p-toggleable-content:not(.ng-animating) {
            margin: 1rem;
            padding-bottom: 0.5rem;
        }

        .p-accordion-tab {
            background-color: $backgroundGrey !important;
        }

        p-accordiontab {
            background-color: $backgroundGrey !important;
        }

        .p-accordion-header {
            // box-shadow: 0 3px 8px 0 $backgroundGrey; 
            border-left: 0.1875rem solid $brandTeal;
            border-bottom: 0.0625rem solid $brandTeal;
            margin-left: 1rem;
            margin-top: .25rem;
            // margin-bottom: 1rem;
            padding: 1rem;

            a {
                color: $darkGrey;
                font-size: 1rem !important;
            }

            border-left: 0.25rem solid $brandTeal;
            display: flex;
        }

        .p-accordion-content {
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
            border-left: 0.1875rem solid $brandTeal;
            margin-left: 1rem;
            margin-top: 1rem;
            // margin-bottom: 1rem;
            padding: 1rem;
            white-space: pre-wrap !important;
            border-radius: 0.25rem !important;
        }

        .p-accordion-content {
            border-left: 0.1875rem solid $brandTeal !important;
            margin-left: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1rem;
            background-color: $backgroundGrey;
        }

        .p-accordion-header-link {
            background-color: $backgroundGrey !important;
            color: $darkGrey !important;

            :focus {
                border: 0.0625rem solid transparent !important;
            }
        }

        .p-accordion .p-element .p-accordion-tab .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus{
            border: none;
        }

        .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
            border: none !important;
            border-bottom: none !important;
        }

        .p-accordion p-accordiontab .p-accordion-tab {
            border-radius: 0.25rem;
        }
    }
}

@media screen and (max-width: 480px) {
    body .main nav a {
        display: block;
        max-width: 70%;
        border-bottom: .1rem solid #e9ecef
        }
        
        body .top-bar .pmodHome h3 {
            display: inline-block;
        }
        
        .p-accordion .p-element .p-accordion-tab .p-accordion-content {
            overflow-wrap: anywhere;
        }
}

@media screen and (min-width: 480px) and ( max-width:900px) {
    body .main nav a {
        display: block;
        max-width: 55%;
        border-bottom: .1rem solid #e9ecef
        }
}